body {
  background-image: url('../img/Ulacit_Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.bg-purple-dark {
  background-color: #6a0dad;
}

.navbar-purple-dark .navbar-brand,
.navbar-purple-dark .nav-link {
  color: #ffffff;
}

.cartas {
  top: 30px;
}

/*#carouselExampleCaptions {
  margin: 100px auto;
  width: calc(100% - 600px);
  max-width: 100%;
}*/


.carousel-inner img {
  width: 100%;
  height: auto;
}

.footer-container {
  background-color: white;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.footer-container .col {
  padding-right: 0;
  padding-left: 0;
  flex-grow: 1;
}

/*#accordionFlushExample {
  background-color: white;
  margin: 100px auto;
  width: calc(100% - 600px);
  max-width: 100%;
}*/

