body {
    background-image: url('../img/Ulacit_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 100vw;
    overflow-x: auto; 

  }

.bg-purple-dark {
    background-color: #6a0dad;
  }
  
  .navbar-purple-dark .navbar-brand,
  .navbar-purple-dark .nav-link {
    color: #ffffff;
  }

.cartas{
  top: 30px;

}
  